<h1>Dashboard</h1>
<ul>
  <li><a class="nav-link" href="<%= communities_path %>">Community Referral Form</a></li>
  <li><a class="nav-link" href="<%= hospitals_path %>">Hospital in Home Form</a></li>
</ul>
