  <div class="jumbotron">
    <h1 class="display-2">Template</h1>
    <p class="lead">
      A secure web application to do something special.
    </p>
    <a class="btn btn-outline-primary nav-button" href="#"> New Handover</a>
  </div>
