  <div class="jumbotron">
    <h1 class="display-2">Referral Application</h1>
    <p class="lead">
      A secure web application to do submit referrals online.
    </p>
    <a class="btn btn-outline-primary nav-button" href="#"> Login</a>
  </div>
