<img class="healthstrong-logo" src="<%= asset_path('healthstronglogo.png') %>" />

<br>
<h1>Hospital in Home Referral</h1>

<%= render 'hospitals/form', hospital: @hospital %>

<%= link_to 'Back', hospitals_path %>
