body {
  font-family: Roboto;
}

.navbar {
  box-shadow: 0px 1px #BEBEBE;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 80px; // accommodate the navbar
  margin-bottom: 40px;
}

section {
  @extend .row;
  margin-top: 20px;
}

.navbar-brand {
  font-size: inherit;
  }

.form-h4 {
  padding-top: 20px;
  padding-bottom: 15px;
}

.healthstrong-logo {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 80px;
}

.public-form {
  .form-h4 {
    text-transform: uppercase;
    color: #4cd2ff;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 60px;
  }
  label {
    font-weight: 500;
    font-size: 13px;
    color: #414141;
  }
}

.success-page {
  text-align: center;
  h4 {
    color: #4cd2ff;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.logo-center {
  text-align: center;
  margin-top: 0px;
  a {
    background: image-url('healthstronglogo.png');
    width: 100%;
    max-width: 450px;
    height: 130px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
  }
}

.btn-flat {
  font-weight: 600;
  background: transparent;
  color: #414141;
  font-size: 14px;
  padding: 10px 30px;
}
